@import 'bootstrap/dist/css/bootstrap.css';

/* global.css */
.app-container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Bottom Navbar */
.MuiBottomNavigation-root {
  position: static; /* Change to static so it stays within the .app-container */
  margin-top: auto; /* Pushes the navbar to the bottom */
  background: white;
  box-shadow: 0 -1px 10px -1px rgba(0,0,0,0.2);
}

/* Use !important to ensure the styles apply over Material-UI's default styles */
.Mui-selected, .MuiBottomNavigationAction-root:hover {
  color: #77DB13 !important;
}

/* Adding this to potentially fix the box shadow issue if it's still not displaying */
.MuiPaper-root.MuiBottomNavigation-root {
  box-shadow: 0 -1px 10px -1px rgba(0,0,0,0.2) !important;
}

/* select user page*/
.select-user-container {
  font-family: 'Arial', sans-serif;
  max-width: 400px;
  margin: auto;
}

.search-container {
  display: flex;
  align-items: center;
  padding: 10px;
  position: relative;/* Adjust the color to match the design */
}

.back-button {
  color: #000;
  /* Add styles for back button if needed */
}

.search-input {
  border:#77DB13;
  padding: 8px 10px;
  margin-left: 10px;
  width: calc(100% - 48px); /* Adjust based on IconButton size */
  border-radius: 20px;
  font-size: 14px;
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list-item {
  display: flex;
  align-items: center;
  padding: 16px;
  transition: background-color 0.2s;
}

.user-list-item:hover {
  background-color: #e8f5e9; /* Light green background on hover */
}

.user-image {
  height: 40px;
  width: 40px;
  object-fit: cover;
  margin-right: 10px;
}
.user-select-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.user-name {
  flex-grow: 1;
  margin: 0;
}

.user-info {
  flex-grow: 1;
}

input[type='radio'].form-radio {
  height: 20px;
  width: 20px;
  margin-left: auto;
  color: #4caf50; /* Adjust the color to match the design */
}

/*user card*/
/* UserCard Component */
.user-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px; /* Spacing between cards */
}

.user-card .card-body {
  padding: 16px;
}

.user-card .card-title {
  display: flex;
  align-items: center;
}

.user-card .user-name {
  font-weight: bold;
  color: #333333;
  margin-bottom: 0;
}

.user-card .send-note {
  color: #666666;
  font-size: 0.9em;
}

.user-card .transaction-date {
  color: #666666;
}

.user-card .amount-positive {
  color: red;
}

.user-card .amount-negative {
  color: green;
}

.user-image {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin-right: 16px;
}

.bi-arrow-right-circle-fill {
  font-size: 24px;
  color: #000000;
  background: none;
  border: none;
  cursor: pointer;
}

/* send card */
.send-card-container {
  position: relative;
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
  background-color: #e7f9ec;/* Replace with your preferred color */
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 50px; /* This will make room for the avatar to be placed on the left side */
}

.send-card-date {
  position: absolute;
  top: -20px; /* Adjust as needed, negative value to pull it above the container */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
  font-size: 0.75rem;
}

.send-card-content {
  display: flex;
  flex-direction: column; /* Stack money and note vertically */
  align-items: flex-start; /* Align items to the start */
  flex: 1; 
}

.send-card-money-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}

.send-card-money {
  color: #4caf50; /* Green color for money */
  font-size: 1.5rem; /* Large text for the amount */
  font-weight: bold;
  margin-right: 10px;
}

.send-card-note {
  color: #333; /* Dark text for the note */
  font-size: 1rem;
}

.send-card-like {
  position: absolute;
  top: 10px;
  left: 10px;
  /* Placeholder styles for like icon */
}

.send-card-admin-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  right: -50px; /* Adjust as necessary */
  transform: translateY(-50%);
}

.receive-card-container {
  position: relative;
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
  background-color: #ffffff; /* Replace with your preferred color */
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 50px; /* This will make room for the avatar to be placed on the left side */
}


.receive-card-avatar {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 50%;
  overflow: hidden; /* Ensures the image respects the border-radius */
  position: absolute;
  left: -50px; /* Adjust as needed, negative value to pull it outside the container */
  top: 0;
}


.receive-card-avatar img {
  border-radius: 10px; /* Rounded corners for the avatar */
  width: 50px; /* Adjust based on your design */
  height: 50px; /* Adjust based on your design */
  object-fit: cover; /* Ensure the image covers the area */
}

.receive-card-content {
  display: flex;
  flex-direction: column; /* Stack money and note vertically */
  align-items: flex-start; /* Align items to the start */
  flex: 1; /* Take available space */
}

.receive-card-money {
  color: #4caf50; /* Green color for money */
  font-size: 1.5rem; /* Large text for the amount */
  font-weight: bold;
  margin-right: 10px;
}

.receive-card-note {
  color: #333; /* Dark text for the note */
  font-size: 1rem;
}


.receive-card-like {
  position: absolute;
  right: 10px; /* Adjust as necessary */
  top: 10px; /* Adjust as necessary */
  /* Your like icon styles */
}

.receive-card-date {
  position: absolute;
  top: -20px; /* Adjust as needed, negative value to pull it above the container */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff; /* Match card background */
  padding: 5px;
  border-radius: 10px;
  font-size: 0.75rem;
}

.send-card-date, .receive-card-date {
  /* ... other styles ... */
  top: -20px; /* Keep consistent if this works well for both */
}


