@import 'bootstrap/dist/css/bootstrap.css';

/* global.css */
.app-container {
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Bottom Navbar */
.MuiBottomNavigation-root {
  position: static; /* Change to static so it stays within the .app-container */
  margin-top: auto; /* Pushes the navbar to the bottom */
  background: white;
  box-shadow: 0 -1px 10px -1px rgba(0,0,0,0.2);
}

/* Use !important to ensure the styles apply over Material-UI's default styles */
.Mui-selected, .MuiBottomNavigationAction-root:hover {
  color: #77DB13 !important;
}

/* Adding this to potentially fix the box shadow issue if it's still not displaying */
.MuiPaper-root.MuiBottomNavigation-root {
  box-shadow: 0 -1px 10px -1px rgba(0,0,0,0.2) !important;
}

/* select user page*/
/* Select User Page Styles */
.select-user-container {
  max-width: 414px;
  margin: auto;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #f7f7f7; /* Adjust the color to match the design */
}

.user-list {
  list-style-type: none;
  padding: 0;
}

.user-list-item {
  display: flex;
  align-items: center;
  padding: 16px;
  transition: background-color 0.2s;
}

.user-list-item:hover {
  background-color: #e8f5e9; /* Light green background on hover */
}

.user-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.user-info {
  flex-grow: 1;
}

.user-name {
  font-size: 16px;
  color: #333;
}

input[type='radio'].form-radio {
  height: 20px;
  width: 20px;
  margin-left: auto;
  color: #4caf50; /* Adjust the color to match the design */
}

/*user card*/
.card {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 16px;
  }
  
  .card-title {
    display: flex;
    align-items: center;
  }
  
  .card-text {
    color: #666666;
    margin-bottom: 4px;
  }
  
  .bi-arrow-right-circle-fill {
    font-size: 24px;
    color: #000000;
  }
  
